{% extends 'core/base.html' %}
{% load static %}

{% block control %}
    <p class="navbar-brand"  id="nombre_app">ESCOM-munity</p>
{% endblock control %}

{% block content %}
     <!-- SECCION DE BIENEVENDIDA -->
    <div class="row">
        <div class="col-md-12 bg-light p-4">
            {% if 'fail_reset_pass' in request.GET %}
                <p style="color:red;">Falló el cambio de password, no coincide tu password actual.</p>            
            {% endif %}
            <h3 class="fuente m-2">
                Bienvenido
                <small class="text-muted">{{usuario}}</small>
            </h3>
            <hr id="divider">

            <div class="row p-3 border border-secondary ml-2 mr-2">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                            aria-controls="v-pills-home" aria-selected="true"><i class="mr-3 fas fa-home"></i>Inicio</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                            aria-controls="v-pills-profile" aria-selected="false"><i class="mr-3 fas fa-user"></i>Perfil</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                            aria-controls="v-pills-messages" aria-selected="false"><i class="mr-3 fas fa-bell"></i>Notificaciones
                            <span class="badge badge-secondary badge-pill ml-2 bg-danger">3</span></a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false"><i class="mr-2 fas fa-cog"></i>Configuraciones</a>                                                    
                        </div>
                    <a class="nav-link" href="https://www.saes.escom.ipn.mx/PDF/Alumnos/Reinscripciones/{{boleta}}-ComprobanteHorario.pdf"
                        aria-controls="v-pills-settings" aria-selected="false"><i class="mr-2 fas fa-download"></i>Descarga horario</a>
                    <a class="nav-link" href="{% url 'aulas' %}"
                        aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-door-closed"></i>Salones disponibles</a>    
                    <a class="nav-link" href="{% url 'logout' %}"
                        aria-controls="v-pills-settings" aria-selected="false"><i class="mr-2 fas fa-power-off"></i>Cerrar
                        sesión</a>
                </div>
                <div class="col-9 border p-2">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row justify-content-center">
                                <div class="col-md-11 bg-light p-2">
                                    <div class="alert alert-light" role="alert">
                                        <h4 class="alert-heading">¡Bienvenido a ESCOMmunity!</h4>
                                        <p>
                                            Aquí podrás verficar las secciones de interés de las actividades que se lleban acabo en la ESCOM,
                                            recibirás notificaciones sólo de aqullas que te interesen, no te perderás de todo aquello que pasa en tu escuela.<br>
                                            Publica tus dudas o comentarios en el la sección que gustes. los administradores resolverán tus dudas.
                                            Esperamos que disfrutes de su uso como nostros difrutamos desarrollarlo para tí.
                                        </p>
                                        <hr>
                                        <p class="mb-0">Activa la campana "<i class="far fa-bell"></i>" para recibir
                                            notifiaciones de las secciones de interés</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade p-3" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="row">
                                <div class="col-md-12  p-3 bg_4">
                                    <div class="row justify-content-center">
                                        <div class="col-md-12">
                                            <img src="{% static 'core/imgs/yuna.jpg' %}" class="rounded mx-auto d-block img-thumbnail rounded-circle"
                                                alt="...">
                                        </div>
                                        <div class="col-md-12 p-3">
                                            <button type="button" class="btn btn-secondary btn-sm mx-auto d-block"><i
                                                    class="mr-2 fas fa-camera"></i> Cambiar foto</button>
                                        </div>
                                        <div class="col-md-12  p-3">                                           
                                            <h5 class="fuente m-2">
                                                N° Boleta :
                                                <small class="text-muted">{{boleta}}</small>
                                            </h5>
                                            <h5 class="fuente m-2">
                                                Nombre :
                                                <small class="text-muted">{{usuario|title}}</small>
                                            </h5>
                                            <h5 class="fuente m-2">
                                                Email :
                                                <small class="text-muted">{{email}}</small>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="list-group" data-spy="scroll" >
                                {% for not_entry in notifications_entry %}
                                    <a href="{% url 'blog' not_entry.service.nameModule %}" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{not_entry.service.nameModule|title}}</h5>
                                            <small>{{not_entry.created|date:"M d, Y"}}</small>
                                        </div>
                                        <p class="mb-1">{{not_entry.title|title}}</p>
                                        <small class="font-italic">{{not_entry.author.get_full_name|title}}</small>
                                    </a>
                                {% endfor %}
                                {% for not_post in notifications_post %}
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{not_post.service.nameModule|title}}</h5>
                                            <small>{{not_post.created|date:"M d, Y"}}</small>
                                        </div>
                                        <p class="mb-1">{{not_post.title|title}}</p>
                                        <small class="font-italic">{{not_post.author.get_full_name|title}}</small>
                                    </a>
                                {% endfor %}                                                              
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <ul class="list-group">
                                <form action="" method="post"> 
                                    {% csrf_token %}
                                     <li class="list-group-item text-center">
                                        CUENTA <br>
                                        <small id="passwordHelpInline" class="text-muted">
                                            Edita la configuración de tu cuenta y cambia la contraseña aquí. <br>
                                            <b> Esto cerrará tu sesión y tendrás que volver a acceder </b>
                                        </small>
                                    </li>                                
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">E-mail</label>
                                            <fieldset>
                                               {{reset_pass.correo}}  
                                            </fieldset>                                        
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Contraseña</label>                                                                              
                                            {{reset_pass.password1}}
                                            {{reset_pass.password2}}                                                     
                                        </div>
                                    </li>
                                    <li class="list-group-item text-center">
                                        Guardar cambios <br>
                                        <button type="submit" class="btn btn-primary mb-2">Confirmar</button>
                                    </li>
                                </form>                               
                            </ul>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DE SECCIÓN DE BIENVENIDA -->

    <!-- SECCIÓN DE CONTENIDOS -->
    <div class="container-fluid p-3 bg_2">
        <h4 class="fuente text-light">Secciones</h4>
        <hr id="divider_2">
        <div class="row">
            <div class="col md-12 mt-3 p-3">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-auto">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-search"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  justify-content-center p-1">
            {% for section in sections reversed %}
                <div class="col-md-3  mt-3">
                    <div class="card">
                        <img class="mw-100" src="{{section.image.url}}" height="150">
                        <div class="card-body">
                            <h5 class="card-title">{{section.nameModule|title}}</h5>
                        </div>
                        <div class="card-footer">                           
                            <a href="{% url 'blog' section.nameModule%}" class="btn btn-outline-primary">Ir a la seccion</a>
                            <div class="form-check">
                                <input class="form-check-input position-static mt-2" type="checkbox" id="blankCheckbox"
                                    value="option1" aria-label="..."><i class="far fa-bell ml-2"></i>
                            </div>
                        </div>
                    </div>    
                </div>                
            {% endfor %}            
        </div>
    </div>
    <!-- FIN DE CONTENIDOS -->
{% endblock content %}
