    {% extends 'core/base.html' %}
    {% load static %}
    {% block control %}
        <p class="navbar-brand"  id="nombre_app">ESCOM-munity</p>
    {% endblock control %}
    {% block content %}  
    <style>.errorlist{color:red;} li{font-size:13px; color:blue;}</style>
    <div class="card-deck text-center m-2 justify-content-center ">
        <div class="card-body col-md-6 rounded bg-light">
            <h5 class="card-title" id="nombre_app">ESCOM-munity</h5>
            <small class="text-muted">Registro</small> <br><br>
            <form action="" method="post">
                {% csrf_token %}
                {% if 'fail' in request.GET %}
                    <p style="color:red;">Número de boleta inválido</p>
                {% elif 'exist' in request.GET%}
                    <p style="color:red;">El numero de boleta ya existe, verifique de nuevo</p>
                {% endif %}
                <p>{{registroform.boleta}}</p>
                <p>{{registroform.name}}</p>
                <p>{{registroform.lname}}</p>
                <p>{{registroform.password1}}</p>
                <p>{{registroform.correo}}</p>
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a href="{% url 'Login' %}" class="btn btn-primary" value="Acceder">Inicia sesión</a>

            </form>
        </div>
    </div>
    
    {% endblock content %}