{% extends 'core/base.html' %}
{% load static %}
    {% block control %}
        <div class="collapse navbar-collapse text-center col-md-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active d-inline mr-2">
                    <a class="nav-link" href="{% url 'servicios' %}"><i class="mr-3 fas fa-home"></i>Inicio <span
                            class="sr-only">(current)</span></a>
                </li>                
                <li class="nav-item d-inline">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="mr-3 fas fa-power-off"></i>Cerrar
                        sesión</a>
                </li>             
            </ul>
        </div>
    {% endblock control %}
    {% block content %}    
            <!-- SECCION 1 -->
        <div class="container-fluid py-5 bg_3 text-center text-white bg-dark">
            <div class="row px-3">
                <div class="col-md-8">
                    <div class="row ">
                        <div class="col-md-11">
                            <h4 class="fuente text-white p-2 text-left text-primary">{{service.nameModule}}</h4>
                        </div>
                        <div class="col-md-11 p-3">
                            <p class="text-justify">{{service.descModule}}</p>
                        </div>
                        <div class="col-md-11  p-2">
                            <h5 class="fuente3 text-left text-primary">
                                Administrador
                                <small class="text-muted text-bold">{{service.nameAdmin}}</small>
                            </h5>
                            <h5 class="fuente3 text-left text-primary">
                                Username
                                <small class="text-muted text-bold">{{service.user}}</small>
                            </h5>
                            <h5 class="fuente3 text-left text-primary">
                                Tel:
                                <small class="text-muted text_autor">{{service.cel}}</small>
                            </h5>
                            <h5 class="fuente3 text-left text-primary">
                                correo
                                <small class="text-muted text_autor">{{service.eMail}}</small>
                            </h5>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <img src="{{service.image.url}}" class="img-fluid img-thumbnail" alt="Responsive image" id="img_sm">
                </div>
            </div>
        </div>
        <!-- FIN SECCION 1 -->

        <!-- SECCION PUBLICACIONES -->
        <div class="container-fluid bg_2">
            <div class="container py-5">
                <h4 class="fuente text-light">Publicaciones</h4>
                <hr id="divider_2">
                <div class="row">
                    <!-- FORMULARIO DE PUBLICACION -->
                    <div class="col-md-12 mb-5 ">
                        <div class="card bg-muted">
                            <div class="card-header">
                                <h5 class="fuente">@User</h5>
                            </div>
                            <div class="card-body border-top">
                            <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Título</label>
                                        <div class="input-group">{{postform.title}}</div>
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Contenido</label>
                                        <div class="input-group">{{postform.content}}</div>
                                    </div>                                
                                    <button type="submit" class="btn btn-primary"><i class="mr-2 fas fa-pencil-alt"></i>Publicar</button>
                            </form>
                            </div>
                        </div>
                    </div>
                    <!-- FIN DE FORMULARIO DE PUBLICACON -->

                    <!-- PUBLICACION ADMIN -->
                    {% for post in posts %}                
                        <div class="col-md-12 mb-3 mt-3">
                        <div class="card border border-primary">
                            <div class="card-body">
                                <div class="card-header">
                                    <h5 class="fuente text-primary">{{post.author}}</h5>
                                </div>
                                <h5 class="card-title m-2">{{post.title}}</h5>
                                <p class="card-text">{{post.content|linebreaks}}</p>
                                <p class="card-text"><small class="text-muted">Publicado : {{post.published|date:"SHORT_DATE_FORMAT"}}</small></p>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-7 m-2">
                                    <img src="{{post.image.url}}" class="img-fluid card-img-top img-thumbnail" alt="Responsive image"
                                        width="100" height="100">
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <button class="btn btn-primary" type="submit">Comentar</button>
                            </div>
                        </div>
                    </div>                
                    {% endfor %}
                    
                    <!-- FIN PUBLICACION DE ADMIN -->


                    <!-- CARD_2 -->
                    <div class="col-md-12 mb-3 mt-5">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="fuente">@User_913</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo maxime
                                    adipisci id voluptate est deserunt, dolor odio animi similique eos cum! Culpa ut
                                    eveniet tempore cum excepturi id exercitationem vitae.</p>
                                <button class="btn btn-primary" type="submit">Comentar</button>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                        <!-- COMENTARIO -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="fuente">@User_123</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo maxime
                                    adipisci id voluptate est deserunt, dolor odio animi similique eos cum! Culpa ut
                                    eveniet tempore cum excepturi id exercitationem vitae.</p>
                                <button class="btn btn-primary" type="submit">Comentar</button>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                        <!-- FIN COMENTARIO -->
                        <!-- COMENTARIO -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="fuente">@User_107</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo maxime
                                    adipisci id voluptate est deserunt, dolor odio animi similique eos cum! Culpa ut
                                    eveniet tempore cum excepturi id exercitationem vitae.</p>
                                <button class="btn btn-primary" type="submit">Comentar</button>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                        <!-- FIN COMENTARIO -->
                    </div>
                    <!-- FIN CARD 2 -->

                    <!-- CARD -3 -->
                    {% for post in allpost %}
                        <div class="col-md-12 mb-3 mt-5">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="fuente">@User_903</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.content}}</p>
                                <button class="btn btn-primary" type="submit">Comentar</button>
                            </div>
                            <div class="card-footer text-muted">
                            {{post.published}}
                            </div>
                        </div>
                    </div>                
                    {% endfor %}               
                    <!-- FIN CARD 3 -->               

                </div>
            </div>
        </div>
        <hr id="divider_1" class="m-0">
        <!-- FIN PULICACIONES -->
    {% endblock content %}






